.img {
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(70, 65, 65, 0.575);
}

.actividades {
  background-color: rgb(255, 0, 0);
  text-align: center;
  width: auto;
  padding: 5vh;
}

.act1 {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  text-align: center;
}

.dia {
  background: #eee;
  font-weight: bold;
  text-align: center;
}

.form {
  padding: 1px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(145, 144, 144, 0.616);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  color: rgb(241, 26, 10);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

input::placeholder, textarea::placeholder {
  color: rgba(0, 0, 0, 0.068) 0.219, 16, 110, 110;
}

.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-txt a {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600px;
  text-decoration: none;
}

.button {
  font-size: 16px;
  color: rgb(253, 0, 0);
  border: 0;
  border-radius: 25px;
  background-color: rgb(45, 48, 46);
  box-shadow: 0 0 20px rgba(252, 0, 0, 0.4);
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(73, 44, 31);
}

.formdirection {
  display: flex;
  justify-content: center;
}

#nombre {
  margin: 10px;
  border-radius: 25px;
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(61, 68, 63);
  border: 2px solid rgb(245, 32, 8), 240, 240;
  color: black;
  outline: none;
}

#telefono {
  margin: 10px;
  border-radius: 25px;
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(61, 68, 63);
  border: 2px solid rgb(245, 32, 8), 240, 240;
  color: black;
  outline: none;
}

#correo {
  margin: 10px;
  border-radius: 25px;
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(61, 68, 63);
  border: 2px solid rgb(245, 32, 8), 240, 240;
  color: black;
  outline: none;
}

#mensaje {
  margin: 10px;
  border-radius: 25px;
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(61, 68, 63);
  border: 2px solid rgb(245, 32, 8), 240, 240;
  color: black;
  outline: none;
}

.galeriadeimagenes {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 1920px) {
  img {
    width: 100%;
  }
  .columna1 {
    flex: 25%;
    padding: 0 5px 5px 5px;
  }
  .columna2 {
    flex: 25%;
    padding: 0 5px 5px 5px;
  }
  .columna3 {
    flex: 25%;
    padding: 0 5px 5px 5px;
  }
  .columna4 {
    flex: 25%;
    padding: 0 5px 5px 5px;
  }
  .columna1 img {
    margin-top: 0 5px 5px 5px;
    padding-bottom: 5px;
  }
  .columna2 img {
    margin-top: 0 5px 5px 5px;
    padding-bottom: 5px;
  }
  .columna3 img {
    margin-top: 0 5px 5px 5px;
    padding-bottom: 5px;
  }
  .columna4 img {
    margin-top: 0 5px 5px 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 600px) {
  .columna1 {
    flex: 50%;
  }
  .columna2 {
    flex: 50%;
  }
  .columna3 {
    flex: 50%;
  }
  .columna4 {
    flex: 50%;
  }
}
.ciclistasvias {
  width: auto;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.377) !important;
  background-image: url(https://i.pinimg.com/originals/10/74/0c/10740cc52755cae0e2f3ea08e6a8ceea.jpg);
  background-position: center;
  background-size: cover;
  height: 900px;
  color: rgba(255, 255, 255, 0.795);
  text-shadow: rgb(0, 0, 0);
}

.vias {
  width: 100%;
  height: 800px;
}

.navbar {
  background-color: rgba(17, 17, 17, 0.808);
  width: 100%;
  position: sticky;
  margin-bottom: 5px;
}

.nav-link {
  color: white !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 100px;
  margin-top: 1px;
}

h2 {
  color: rgb(255, 2, 2);
  font-size: 35px;
}

p {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.815);
  margin-bottom: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.traves {
  background-color: black;
  color: red;
  margin: 0;
}

#articulotr {
  font-family: helvetica;
  width: auto;
  height: auto;
  margin: 0;
}

#articulotr img {
  width: 400px;
  border-radius: 10px;
  float: left;
  margin: 20px;
}

.travesiatxt {
  font-size: 30px;
  padding: 10px;
}

.travesiaa {
  text-align: center;
  padding-top: 10px;
}

footer {
  background-color: rgba(17, 17, 17, 0.808);
  background-position: auto;
  width: 100%;
  text-decoration: none;
  list-style: none;
  color: white;
  min-height: auto;
}/*# sourceMappingURL=estilo.css.map */