.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: sticky;
    
    
}
.nav-link{
    color: white !important;
}
.jumbotron{
    background-color: rgba(0, 0, 0, 0.377)!important;
    background-image: url(img/DSC05563.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
    color: rgba(255, 255, 255, 0.726);
    text-shadow: rgb(0, 0, 0);

    
}

h1{
    font-size: 100px;
    margin-top: 1px;
}
p{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.815)
}

.vias {
    width: 100%;
    height: 800px;
}

footer{
    background-image: url(img/bicimontana.jpg);
    background-position: auto;
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: black;
    min-height: auto;
}

@media screen and (max-width: 1920px) {
    .fondos {
        background-size: cover;
        width: 100%;
        margin: 1px;
    }
.galeria {
    box-sizing: border-box;

}
.body{
    margin: 0;
    padding: 0;
}
img{
    width: 100%
}
.galeriadeimagenes{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.columna1{
    flex: 25%;
    padding: 5px;
}
.columna2{
    flex: 25%;
    padding: 5px;
}
.columna3{
    flex: 25%;
    padding: 5px;
}
.columna4{
    flex: 25%;
    padding: 5px;
}
.columna1 img{
    margin-top: 5px;
}
.columna2 img{
    margin-top: 5px;
}
.columna3 img{
    margin-top: 5px;
}
.columna4 img{
    margin-top: 5px;
} }

@media (max-width: 600px){
    .columna1{
        flex: 50%;
    }

    .columna2{
        flex: 50%;
    }

    .columna3{
        flex: 50%;
    }

    .columna4{
        flex: 50%;
    }
}

.form{
    padding: 1px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2 {
    color:rgb(255, 2, 2);
    font-size: 35px;

}
label {
    color:rgb(241, 26, 10);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(61, 68, 63);
    border: 2px solid rgb(245, 32, 8), 240, 240;
    color: black;
    outline: none;
}
input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.534)0.219,16, 110, 110;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.form-txt a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600px;
    text-decoration: none;
    
}

.button {
    font-size: 16px;
    color: rgb(253, 0, 0);
    border: 0;
    border-radius: 25px;
    background-color: rgb(45, 48, 46);
    box-shadow: 0 0 20px rgba(252, 0, 0, 0.4);
    cursor: pointer;
}
.button:hover {
    background-color: rgb(73, 44, 31);
}

.formdirection {
    display: flex;
    justify-content: center;
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }
}
/*investigar para hacerlo funcionar*/
.traves {
background-color: black;
    color: red;
    margin: 0;
} 

#articulotr{
    font-family: helvetica;
    width: 500px;
    height: auto;
    margin: 10px;
    

}
#articulotr img{
    width: auto;
    height: 400px;
    border-radius: 10px;
    

}

.actividades {
    background-color: red;
        text-align: center;
        width: auto;
}
.act1 {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    text-align: center;
}
.dia {
        background: #eee;
        font-weight: bold;
        text-align: center;
    }
   
.actividades {
    padding: 5vh;
}

.ciclistasvias {
    width: auto;
}