.ciclistasvias {
    width: auto;
  }

  .jumbotron {
    background-color: rgba(0, 0, 0, 0.377) !important;
    background-image: url(/img/DSC05563.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
    color: rgba(255, 255, 255, 0.726);
    text-shadow: rgb(0, 0, 0);
  }
  
  .vias {
    width: 100%;
    height: 800px;
  }