.traves {
    background-color: black;
    color: red;
    margin: 0;
  }
  
  #articulotr {
    font-family: helvetica;
    width: auto;
    height: auto;
    margin: 0;
    
  }
  
  #articulotr img {
    width: 400px;
    border-radius: 10px;
    float: left;
    margin: 20px;
    
  }

  .travesiatxt {
    font-size: 20px;
    padding: 10px;
  }

  .travesiaa {
    text-align: center;
    padding-top: 10px;
    

  }